.sec5{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 50vh;
    padding-bottom: 100px;
    padding-top: 130px;
    gap: 30px;
    margin-bottom: 80px;
    justify-content: end;
}
.sec-5-1{
    align-items: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sec5 >:nth-child(1){
    font-weight: 600;
}
.sec-5-2{
    display: flex;
    gap: 30px;
    border: 2px solid black;
    padding: 25px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.a1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.a2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.a1 img{
    width: 28px;
}
.a2 img{
    width: 28px;
}
.a1 span,.a2 span{
    font-weight: 600;
}
@media(max-width:1024px){
    .sec5{
        height: 30vh;
    }
}
@media(max-width:767px){
    .sec5{
        margin-top:20px ;
        height: 50vh;
    }
    .sec-5-2 { 
        flex-direction: column; /* Stack items vertically */
        gap: 15px;
        padding: 15px;
        max-width: 95%;
    }

    .a1 span, .a2 span {
        font-size: 14px; /* Adjust font size for smaller view */
        word-break: break-all; /* Prevent email from overflowing */
    
}}